@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');

body{
    font-family: 'Skranji', cursive;
    background-color: #2E4374;
}

#seleccion-mascota {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 80px;
}

.subtitulo{
    color: white;
    font-size: 32;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon {
    width: 180px;
    height: 100px;
    background: #7C81AD;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.tarjeta-mokepon img {
    width: 80px;
}

input {
    display: none;
}

button{
    width: 100px;
    height: 36px;
    margin-top: 10px;
    background: #4B527E;
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Skranji', cursive;
}